<!-- https://github.com/ClickHouse/ClickHouse/blob/master/programs/server/config.xml -->

<clickhouse>
    <listen_host>::</listen_host>
    <listen_host>0.0.0.0</listen_host>
    <listen_try>1</listen_try>

    <interserver_http_host from_env="CLICKHOUSE_HOSTNAME"></interserver_http_host>
    <interserver_listen_host>::</interserver_listen_host>

    <merge_tree>
         <max_suspicious_broken_parts>10000</max_suspicious_broken_parts>
     </merge_tree>

    <max_concurrent_queries>10000</max_concurrent_queries>
    <max_concurrent_insert_queries>10000</max_concurrent_insert_queries>
    <max_concurrent_select_queries>10000</max_concurrent_select_queries>
    <max_concurrent_queries_for_all_users>100000</max_concurrent_queries_for_all_users>

    <logger>
        <level>information</level>
        <console>1</console>

        <formatting>
            <type>json</type>
        </formatting>
    </logger>

    <clickhouse_compression>
        <case>
            <min_part_size>10000000000</min_part_size>
            <min_part_size_ratio>0.01</min_part_size_ratio>
            <method>lz4</method>
        </case>
    </clickhouse_compression>
</clickhouse>
